*{
    margin: 0;
    padding: 0;
}


.container1{
    text-align: center;
    /* margin-top: 10px; */
}

.container2{
    background-color: rgb(230, 173, 173);
    margin: 0 100px;
    height: 60px;
    text-align: center;
}

.container3{
    /* margin: 0 100px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 1px;
}

.container3 div{
    background-color: palevioletred;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box3 a{
    display: inline-block   ;
}

.container4{
    text-align: center;
}
